@using HelenaGerber_Promo.Utils
@model HelenaGerber_Promo.Models.HGStore.Product

@{
    ViewBag.Title = "Бабочки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Каталог</h2>
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li>
                <a href="#">Самовяз</a>
            </li>
            <li>
                <a href="#">Регулируемые</a>
            </li>
            <li>
                <a href="#">Ещё какие-то</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9 col-md-10 main">
        <ul class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Home")">Главная</a>
            </li>
            <li>
                <a href="@Url.Action("Index","Catalog")">Каталог</a>
            </li>
            <li>
                <a href="@Url.Action("BowTies","Catalog")">Бабочки</a>
            </li>
        </ul>
        <div class="product-main">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="product-slider">
                        <div class="product-image-slider flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="~/images/@Model.ImageStore.FileName1" />
                                </li>
                                <li>
                                    <img src="~/images/@Model.ImageStore.FileName2" />
                                </li>
                                <li>
                                    <img src="~/images/@Model.ImageStore.FileName3" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/flexslider")
    <script>
        $('.product-image-slider').flexslider({
            direction: "vertical",
            controlNav: false,
            directionNav: true,
            pauseOnHover: true,
            slideshowSpeed: 10000
        });
    </script>
}
